<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Varia</string>
    <key>CFBundleIdentifier</key>
    <string>io.github.giantpinkrobots.varia</string>
    <key>CFBundleVersion</key>
    <string>2025.11.23</string>
    <key>CFBundleIconFile</key>
    <string>varia.icns</string>
    <key>CFBundleExecutable</key>
    <string>Varia</string>
</dict>
</plist>