name: Build for macOS

on:
  workflow_dispatch:

jobs:
  build-distributable:
    strategy:
      matrix:
        arch: [arm64, x86_64]
    runs-on: macos-14

    env:
      MAC_ARCH: ${{ matrix.arch }}
      MAC_DIR: ${{ github.workspace }}/mac
      DEPS_DIR: ${{ github.workspace }}/mac/dependencies

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare folders
        run: |
          mkdir -p "$DEPS_DIR"

      - name: Install build dependencies
        run: |
          brew update
          brew install automake autoconf libtool pkg-config nasm yasm cmake ninja gtk4 libadwaita python3 lame opus libvorbis libogg gnutls pygobject3 create-dmg
          python3 -m pip install --break-system-packages pillow pygobject yt-dlp pyinstaller aria2p pystray emoji-country-flag

      - name: Build aria2 for ${{ matrix.arch }}
        run: |
          git clone https://github.com/aria2/aria2.git
          cd aria2
          autoreconf -i

          if [ "$MAC_ARCH" = "arm64" ]; then
            HOST="aarch64-apple-darwin"
          else
            HOST="x86_64-apple-darwin"
          fi

          ./configure \
            --host="$HOST" \
            --prefix=$PWD/out

          make -j$(sysctl -n hw.ncpu)
          make install

          mv out/bin/aria2c "$DEPS_DIR/"

      - name: Download binaries
        run: |
          if [ "$MAC_ARCH" = "arm64" ]; then
            DENOURL="https://github.com/denoland/deno/releases/latest/download/deno-aarch64-apple-darwin.zip"
            FFMPEGURL="https://ffmpeg.martin-riedl.de/download/macos/arm64/1756401489_8.0/ffmpeg.zip"
            FFPROBEURL="https://ffmpeg.martin-riedl.de/download/macos/arm64/1756401489_8.0/ffprobe.zip"
          else
            DENOURL="https://github.com/denoland/deno/releases/latest/download/deno-x86_64-apple-darwin.zip"
            FFMPEGURL="https://ffmpeg.martin-riedl.de/download/macos/amd64/1756407576_8.0/ffmpeg.zip"
            FFPROBEURL="https://ffmpeg.martin-riedl.de/download/macos/amd64/1756407576_8.0/ffprobe.zip"
          fi

          # FFmpeg and FFprobe
          curl -fsSL "$FFMPEGURL" -o ffmpeg.zip
          curl -fsSL "$FFPROBEURL" -o ffprobe.zip
          unzip ffmpeg.zip -d "$DEPS_DIR"
          unzip ffprobe.zip -d "$DEPS_DIR"
          rm ffmpeg.zip ffprobe.zip

          # 7zz
          curl -fsSL "https://www.7-zip.org/a/7z2501-mac.tar.xz" -o 7z.tar.xz
          tar -xJf 7z.tar.xz
          rm 7z.tar.xz

          mv 7zz "$DEPS_DIR/7zz"
          
          # Deno
          cd "$DEPS_DIR"

          curl -fsSL "$DENOURL" -o deno.zip
          unzip deno.zip
          rm deno.zip

      - name: Run build.sh for ${{ matrix.arch }}
        run: |
          cd mac

          sign_all_binaries() { find "$1" -type f | while read -r file; do if file "$file" | grep -q "Mach-O"; then codesign -f -s - "$file" 2>/dev/null || true fi done }

          rm -rf "$MAC_DIR/Varia.app"
          mkdir -p "$MAC_DIR/Varia.app/Contents/MacOS"
          swiftc launch-varia.swift -o "$MAC_DIR/Varia.app/Contents/MacOS/Varia/"
          mkdir -p "$MAC_DIR/Varia.app/Contents/Resources/tray"
          cp "$MAC_DIR/varia.icns" "$MAC_DIR/Varia.app/Contents/Resources/"
          cp -r "$DEPS_DIR/*" "$MAC_DIR/Varia.app/Contents/Resources/"

          codesign --remove-signature "$MAC_DIR/Varia.app/Contents/Resources/ffmpeg"
          codesign --remove-signature "$MAC_DIR/Varia.app/Contents/Resources/ffprobe"
          codesign --remove-signature "$MAC_DIR/Varia.app/Contents/Resources/aria2c"
          codesign --remove-signature "$MAC_DIR/Varia.app/Contents/Resources/7zz"
          codesign --remove-signature "$MAC_DIR/Varia.app/Contents/Resources/deno"

          cp "$MAC_DIR/Info.plist" "$MAC_DIR/Varia.app/Contents/"
          cp "$MAC_DIR/varia.spec" "$MAC_DIR/../src/"
          cd "$MAC_DIR/../src/tray/"
          pyinstaller -n varia-tray --noconsole --noconfirm tray_windows.py
          cp -r "$MAC_DIR/../src/tray/dist/varia-tray/*" "$MAC_DIR/Varia.app/Contents/Resources/tray/"
          cp "$MAC_DIR/../src/tray/tray.png" "$MAC_DIR/Varia.app/Contents/Resources/tray/_internal/"
          cd "$MAC_DIR/../src"
          pyinstaller --noconfirm varia.spec
          cp -r "$MAC_DIR/../src/dist/variamain/*" "$MAC_DIR/Varia.app/Contents/Resources/"

          sign_all_binaries "$MAC_DIR/Varia.app/"
          codesign -f -s - "$MAC_DIR/Varia.app/"

          cd "$MAC_DIR"
          create-dmg --volname 'Varia' --volicon 'dmg-icon.icns' --background ./dmg-background.png --window-size 700 478 --icon Varia.app 175 200 --app-drop-link 525 200 Varia-$ARCH.dmg ./Varia.app

      - name: Upload DMG for ${{ matrix.arch }}
        uses: actions/upload-artifact@v4
        with:
          name: Varia-${{ matrix.arch }}
          path: mac/Varia-${{ matrix.arch }}.dmg
